In [16]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [19]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [20]:
r = requests.get(url)
html_doc = r.text
soup = BeautifulSoup(html_doc, features='html.parser')

In [21]:
print(soup.title.text)

List of postal codes of Canada: M - Wikipedia

In [25]:
datadiv=soup.find("table", {"class": "wikitable sortable"})
elementsfull =[]
row=0
for tr in datadiv.findAll("tr"):
    elements=[]
    column=0
    for td in tr.findAll("td"):
        if(td.text!=''):
            elements.append(td.text)
            column+=1
               

    elementsfull.append(elements)        
            
    row+=1

In [24]:
mydf = pd.DataFrame(data=elementsfull)
print(mydf)

         0               1                                                  2
0     None            None                                               None
1    M1A\n  Not assigned\n                                     Not assigned\n
2    M2A\n  Not assigned\n                                     Not assigned\n
3    M3A\n    North York\n                                        Parkwoods\n
4    M4A\n    North York\n                                 Victoria Village\n
..     ...             ...                                                ...
176  M5Z\n  Not assigned\n                                     Not assigned\n
177  M6Z\n  Not assigned\n                                     Not assigned\n
178  M7Z\n  Not assigned\n                                     Not assigned\n
179  M8Z\n     Etobicoke\n  Mimico NW, The Queensway West, South of Bloor,...
180  M9Z\n  Not assigned\n                                     Not assigned\n

[181 rows x 3 columns]

In [27]:
mydf.columns = ['Postal Code', 'Borough','Neighbourhood']

In [28]:
mydf.head()

  Postal Code         Borough       Neighbourhood
0        None            None                None
1       M1A\n  Not assigned\n      Not assigned\n
2       M2A\n  Not assigned\n      Not assigned\n
3       M3A\n    North York\n         Parkwoods\n
4       M4A\n    North York\n  Victoria Village\n

In [30]:
mydf.drop(mydf[mydf['Borough'] == 'Not assigned\n'].index, inplace = True)

In [31]:
mydf.head()

  Postal Code             Borough                       Neighbourhood
0        None                None                                None
3       M3A\n        North York\n                         Parkwoods\n
4       M4A\n        North York\n                  Victoria Village\n
5       M5A\n  Downtown Toronto\n         Regent Park, Harbourfront\n
6       M6A\n        North York\n  Lawrence Manor, Lawrence Heights\n

In [38]:
mydf.drop(mydf.index[:1], inplace=True)

In [36]:
mydf.head()

,Postal Code,Borough,Neighbourhood
3,M3A\n,North York\n,Parkwoods\n
4,M4A\n,North York\n,Victoria Village\n
5,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
6,M6A\n,North York\n,"Lawrence Manor, Lawrence Heights\n"
7,M7A\n,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"